################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MatrixHandler/FileContentIndex/68c52fad-9bcd-42d5-ac4b-95615840c857.vsidx
/.vs/MatrixHandler/v17/Browse.VC.opendb
